<h1 class="mt-4 mb-3"><%= t('views.harries.information_title') %>
  <small><%= t('views.harries.information_sub_title') %></small>
</h1>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    お知らせタイトルテスト　2017月XX月XX日
  </li>
</ol>

<p>お知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テスト</p>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    お知らせタイトルテスト　2017月01月01日
  </li>
</ol>

<p>お知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テストお知らせ内容テスト</p>
