<h1 class="my-4">ランキング</h1>

<p><%= page_entries_info @ranking_post %></p>

<% if @ranking_post.present? %>

<div class="row">

  <% @ranking_post.each do |post| %>

    <%= render 'post_list_item', post: post %>

  <% end %>

</div>

<% end %>

<hr>

<%= paginate @ranking_post, :theme => 'twitter-bootstrap-4' %>