<h2><%= t('views.user_infos.edit_title') %></h2>
<br>

<%= render 'form', user_info: @user_info %>
<br>

<%= link_to t('views.user_infos.edit_base_info_btn'), edit_user_registration_path, class: "btn btn-link" %>