<h1><%= t('views.user_pets.edit_title') %></h1>

<%= render 'form', user_pet: @user_pet %>

<br>

<%= link_to t('views.user_pets.show_list'), user_pets_user_infos_path(current_user.user_info.hash_id) %>