<h1 class="my-4">ペット一覧</h1>

<p><%= page_entries_info @user_pets %></p>

<div class="row">

  <% @user_pets.each do |user_pet| %>
    <!-- レイアウトの調整が必要 -->
    <div class="form-inline">
      <div class="form-group">
          <%== thumbnail_icon(user_pet.image.to_s, user_pet.pet_name) %>
      </div>
      <div class="form-group">
        <%= user_pet.pet_name %>
      </div>
    </div>
  <% end %>

</div>

<hr>

<!-- 挙動を確認する -->
<%= paginate @user_pets, :theme => 'twitter-bootstrap-4' %>