<% unless @user_pets.present? %>
<%== only_label("ハリネズミは登録されておりません。") %>
<% end %>

<% @user_pets.each do |user_pet| %>

<% if @is_org_user %>
<%== buttons(edit_user_pet_path(user_pet), user_pet_path(user_pet)) %>
<% end %>

<br>
<br>

<%= render 'show', user_pet: user_pet %>

<hr class="style17">

<% end %>

<% if @is_org_user %>
	<% if @is_ok_regist %>
	<%= link_to 'ハリネズミを登録する', new_user_pet_path, class: "btn btn-primary" %>
	<% else %>
  <div class="form-group row">
    <label class="col-sm-12 col-form-label">これ以上はペットを登録できません。</label>
  </div>
	<% end %>
<% end %>