<h1 class="my-4">投稿一覧</h1>

<p><%= page_entries_info @posts %></p>

<div class="row">

  <% @posts.each do |post| %>

    <%= render 'post_list_item', post: post %>

  <% end %>

</div>

<hr class="style17">

<!-- 挙動を確認する -->
<%= paginate @posts, :theme => 'twitter-bootstrap-4' %>