@import "common/bootstrap";
@import "common/bootstrap-grid";
@import "common/bootstrap-reboot";
@import "common/modern-business";
@import "common/font-awesome";
@import "common/toastr";

/* bootstrapの上書き */
.col-form-label {
  word-wrap: break-word;
}
/* !bootstrapの上書き */

/* font-awesomeの上書き */
i {
  padding-right: 0.3em;
}
/* !font-awesomeの上書き */

/* テンプレート */
.notice, .alert {
  display: none;
}

.wrap-container {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* !テンプレート */

/* エラー */
#error_explanation {
  color: red;
  ul {
    color: red;
  }
  padding-bottom: 2em;
}

.field_with_errors {
  color: red;
}
/* !エラー */


/* モーダル */
.modal-header {
    border-radius: 5px 5px 0px 0px;
    background: #ff4486;
    color: #fff;
}
.modal-footer {
    border-radius: 0px 0px 5px 5px;
    background-color: #eee;
    color: #666;    
}
.modal-dialog select {
    border: solid 1px #333;
}
/* !モーダル */
